// ----------------------------------------------------------------------------
// Widget-github-status styles
// ----------------------------------------------------------------------------
.widget-github-status {
    background: #2A455C url("/assets/invertocat.png") no-repeat center;
    position: relative;
    overflow: hidden;
    &.good {color:#396;}
    &.minor {color:#f29d50;}
    &.major {color:#c30;}

    div {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
    }

    #latest-message{
	top: 25px;
	margin: 0 5px;
	#message {
	    background:#ccc;
	    border-radius:3px;
	    border:1px solid #ccc;
	    &.good {
		background:#eaf4ef;
		border-color:#99ccb2;
	    }
	    &.minor {
		background:#fdf5ed;
		border-color:#f8cea7;
	    }
	    &.major {
		background:#f9eae5;
		border-color:#e5997f;
	    }
	}
    }

    #github-logo{
	bottom: 20px;
	height:54px;
	width: 250px;
	background-size: 100% !important;
	&.good { background: url("/assets/logo-good.png"); }
	&.minor { background: url("/assets/logo-minor.png"); }
	&.major { background: url("/assets/logo-major.png"); }
    }

    .updated-at {
	color: rgba(255, 255, 255, 0.7);
    }
}