<% content_for(:title) { "GitHub Dashboard" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_status" data-view="GithubStatus" data-title="GitHub Status"></div>
    </li>
  </ul>
</div>